* {
    padding: 0;
}

html, body {
    background-color: #121212;
    color: #A4A9AD;
    font-family: Montserrat, Verdana, Arial, sans-serif;
    font-size: 14pt;
}

#wrapper {
    width: 1800px;
    margin: 50px auto 0px auto;
    padding: 30px;
    display: flex;
}

.pageSide.left {
    width: 600px;
    padding-right: 50px;
    margin-left: 0px;
}

.pageSide.right {
    width: 1150px;
}

.pageSide header h1 {
    font-size: 30pt;
    margin-bottom: 0;
}

.pageSide header h3 {
    width: 76%;
    font-size: 12pt;
    font-style: italic;
    color: #23001E;
    padding: 5px 10px;
    background-color: #20a39f88;
    border-left: 10px groove #EF5B5B;
    border-bottom: 3px solid #EF5B5B;
    box-sizing: border-box;
    box-shadow: 7px 7px 5px #000000;
}

.pageSide.left .configuration {
    width: 100%;
    margin-bottom: 25px;
}

.pageSide.left .configuration label {
    margin-right: 10px;
}

.pageSide.left .configuration .textInput {
    width: 50px;
    padding: 10px 7px;
    background-color: #A4A9AD;
    color: #23001E;
    border: 1px solid #A4A9AD;
    text-align: right;
    font-size: 14pt;
}

.pageSide.left .configuration #errorMsg {
    color: #EF5B5B;
    display: none;
}

.pageSide.left #buttonSection {
    width: 100%;
    margin-bottom: 20px;
}

.pageSide.left #buttonSection .btn {
    width: 532px;
    background-color: #FFBA49;
    color: #23001E;
    padding: 50px 0px;
    font-size: 25pt;
    border: none;
}

.pageSide.left #buttonSection .btn:hover {
    background-color: #fdc56a;
    cursor: pointer;
}

.pageSide.left .practiceArea {
    width: 100%;
}

.pageSide.left .practiceArea #sentenceTextArea {
    width: 530px;
    height: 350px;
    padding: 12px;
    background-color: #A4A9AD;
    color: #23001E;
    border: 1px solid #A4A9AD;
    font-size: 14pt;
    box-sizing: border-box;
}

.pageSide.left .practiceArea .sentenceHint {
    width: 530px;
    padding:5px 0px;
    background-color: #EF5B5B;
    color: #23001E;
    text-align: center;
    border-top: 2px solid #121212
}

.pageSide.right {
    padding: 10px;
}

.pageSide.right .wordSection {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.pageSide.right .component {
    width: 300px;
    margin: 0px 10px 10px 0px;
    color: #23001E;
}

.pageSide.right .component.long {
    width: 475px;
}

.pageSide.right .component .topBar {
    display: flex;
    width: 100%;
    border-bottom: 4px solid #121212;
}

.pageSide.right .component .topBar .type {
    width: 75px;
    background-color: #EF5B5B;
    color: #23001E;
    border-right: 4px solid #121212;
    padding: 5px 7px;
    font-weight: bold;
}

.pageSide.right .component .topBar .group {
    width: 100%;
    background-color: #ef5b5b83;
    color: #23001E;
    text-align: right !important;
    padding: 8px 7px 0px 0px;
    font-size: 12pt;
}

.pageSide.right .component .mid {
    width: 100%;
    background-color: #ffb949af;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
}

.pageSide.right .component .mid .fr {
    width: 100%;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 5px;
}

.pageSide.right .component .mid .en {
    width: 100%;
    font-style: italic;
}

.pageSide.right .component .bottomBar {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #20a39faf;
    color: #23001E;
    font-size: 10pt;
    font-style: italic;
    border-top: 4px solid #121212;
}